body            { background-color: white;   margin: 1rem; padding: .5rem; font-family: comic;}
.mainPageTable  { background-color: darkred; width: 100%; height: 100%; border-collapse: collapse; outline: black solid .25rem;}
th, tr          { border: white ridge .25rem; }
th              { background-color:lightgray }     /* rgb(218, 160, 160);*/
.menu, .menu>td { background-color: papayawhip; width: 100px;}

#SelectedGenera, #SelectedTheatre { border: solid black medium; }

/*Movie poster-image boxes*/
.movieBlock~table, .boxImg, .poster{ 
    box-sizing: border-box;

    background-color: white;
    border-collapse: separate;
    border: solid black medium;
    border-radius: 2vw;
    text-overflow: auto;
    margin:5px;
}

.poster:hover {
    background-blend-mode: multiply;
    background-color:rgb(245, 204, 139);
}

/* Align the side bar, the div element for containing multiple movie information tables, 
and the text inside each of those tables,  vertically to the top of the element */
.menu, .movieBlock {
    vertical-align: top;
}
/*, table tbody td:last-child*/

/* setup display of the div element containing multiple movie information tables */
.movieBlock{ 
    overflow-x: hidden;
    overflow-y: auto;
    height:75vh;   
    width: 100%;
    margin:0;
}

/* setup display of each movie information table */
.poster{
    text-align: left;
    width: 44%; 
    min-width: 325px;
    max-width: 400px;
    height: 310px;
    float:left;			
}

/* redefine style set in stylesheet, for the width of the image in each movie information table  */
.boxImg,  img { height:180px; width: 110px} 
.poster:first-of-type(td) {width: min-content}

/* Force minimum width of menu */
.menu td{ min-width:6em; }           
	