body, header, hgroup, nav, ul, li, footer, legend, article, section, div, p {margin: 0rem; padding: 0rem;} /*Initiallize to zero*/

/*Theme: (Color & Style)------------------------------------------------------------------------------------------------------------*/
    /*Page color*/
    body {background-color: white;}

    /*italic & round border caps on labels/titles/headings*/
    h1, h2, h3, h4, h5, h6, li, header, footer{ font-style: italic; border: 2px dotted black; border-top: unset; border-bottom: unset; }
    /*goldenrod background for headings */
    h1, h2, h3, h4, h5, h6{ background-color: goldenrod; }
    /*silver shades for header and footer*/
    header, footer{ background-color: gray;}
    .navBar>nav>ul>li{ background-color: silver;}     /*.navBar>nav>ul>li{ background-color: palegoldenrod; color: black;}*/

    /*Nested content boxes - style*/
    .innerBlock{ background-color: papayawhip;  }
    .outerRim{ background-color: palegoldenrod;}    
    .innerBlock, .outerRim { border: 2px dotted black; }
    .innerBlock, .innerBlockTitle, .outerRim { border-radius: 2rem; color: black; }


/*Structure ------------------------------------------------------------------------------------------------------------------------*/
    /*Main content location*/
        .content{ margin: 1rem 0rem 1rem 0rem; }

    /*Layout for navigation bars*/
        /*Position of header & footer*/
            header{ top: 0px; }
            footer{ bottom: 0px; }
            header, footer{ 
                box-sizing: border-box;
                position: relative; width: 100%;            /*margin: 0rem; padding: 0rem; -----Not needed?------*/
                scroll-behavior: smooth; nav-down: auto; 
            }
/*_?_   / Optional padding above and under navs
            .navBar>nav>ul{ padding: 5px; margin: 0rem 0.70rem 0rem 0.70rem; }*/
        /* Seperation between nav options*/
            .navBar>nav>ul>li{ 
                padding: 0.25rem; margin: 0rem 5% 0rem 5%; 
                list-style: none; list-style-position: inside; display: inline-block; font-variant-ligatures: none;
            }
        /*Nested content boxes - structure*/
            /* Add Nested background img (Includes fallback/default background color)*/
            .nestWithBackgroundImage{ 
                background-origin: border-box;
                background-size: 25%; scale: 50%; 
                margin: 0rem; padding: 1rem 4rem 1rem 4rem;
                position: static; background-position: center; background-position-y: 0rem;
                /*overscroll-behavior: contain; break-after: avoid;*/
                outline: 2px double black;
                background-color: grey;     /*Alt. (If image is not displayed)*/
            }

            /*Blocks ontop of background image*/
            .innerBlock, .innerBlockTitle, .outerRim { margin: 0rem; break-after: avoid;  overflow-wrap: break-word;}
            .innerBlock, .outerRim { text-align: left; padding: 1rem; /*padding-left: 2rem;*/ }
            .innerBlockTitle { text-align: center;}




/*Specific to HOME page-------------------------------------------------------------------------------------------------------------*/
        /*Home page background image - (for .nestWithBackgroundImage)*/
            #bImg_Home{ background-image:   linear-gradient(rgba(236, 225, 158, 0.349), rgba(236, 225, 158, 0.808)), 
                                            url('..//css/media/styleImages/Bcgr8xqc8.png');
            }

/*Specific to TICKET page------------------------------------------------------------------------------------------------------------*/


/*General Notes ---------------------------------------------------------------------------------------------------------------------*/
    /*JavaScript*/
            /*All Pages*/
                /*Call title/page name (put in first <h1> element) using JavaScript function, eg; 'Home', 'Ticket Booking'*/
                /*Content in 'Title Block' needs to be filled using JavaScript*/
                /*
                    Should most page specific content be called using JavaScript for repetitive fields
                */
            /*Ticket Page (and any pages that include puchase ... eg. snacks)*/
                    /* MUST call using EXTERNAL Javascript */
                    /*  hideTotal(); hideWarning();      ->(connect/call <body> element)*/

/*Work in Progress ------------------------------------------------------------------------------------------------------------------*/

.content{background-origin: content-box;}

body { background-color: lightslategrey; } /* rgb(159, 179, 199);*/
.ticketCostDisp { text-align: right; }
#TicketOrderForm { border: 0.25rem black double; position: right; overflow-wrap: normal; }

input {
    font-weight: bold; background-color: rgb(255, 233, 159, 0.973);
    padding: 0rem 0.25rem 0rem 0.25rem;   border-radius: 20px;
}

fieldset { background-color: white; }
legend  { text-align: center;}
table, th, tr, td  { padding: 5px; border-collapse: collapse; }	
.formTable { border: solid thick black; border-radius: 2000px; } 
.formTable tr,.formTable th,.nestedTable td,.nestedTable tr { border: solid medium grey; }
.formTable th { background-color: lightgrey; font-weight: bold; text-align: right; }
.nestedTable td{
    width: 100px; 
    background-color: inherit;
    text-align: inherit;
    font-weight: inherit;
}

.highlight::first-line{ background-color: yellow; }