body            { background-color: white;   margin: 1rem; padding: .5rem; font-family: comic;}
.mainPageTable  { background-color: darkred; width: 100%; height: 100%; border-collapse: collapse; outline: black solid .25rem;}
th, tr          { border: white ridge .25rem; }
th              { background-color:lightgray }
.menu, .menu>td { background-color: papayawhip; width: 100px;}

#SelectedGenera, #SelectedTheatre { border: solid black medium; }

/*Movie poster-image boxes*/
.movieBlock~table, .boxImg, .poster{ 
    box-sizing: border-box;

    background-color: white;
    border-collapse: separate;
    border: solid black medium;
    border-radius: 2vw;

    max-height: 20vw;
    max-width: 80vw;
    text-overflow: auto;
    margin:5px;
}

.poster:hover {
    background-blend-mode: multiply;
    background-color:rgb(245, 204, 139);
}

img { min-height: 15rem; max-height: min-content; min-width: 10rem; }